h1,
p,
body {
    margin: 0;
}



header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
}

h1 {
    color: rgb(255, 255, 255);
}

#parent {
    display: flex;
    justify-content: space-around;
}

h1,
#parent,
footer {
    text-align: center;
}

.contents {
    flex-basis: 25%;
    border: solid 3px rgb(238, 204, 204);
    padding: 10px 15px;
    margin: 20px 0;
}

h2::before {
    content: "●";
    color: rgb(238, 111, 139);
}

h2 {
    font-size: 25px;
    font-weight: bold;
    border-bottom: dashed rgb(238, 111, 139);
}

.contents p:nth-of-type(2)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}

img {
    margin: 10px 0;
    width: 70%;
}

footer {
    background-color: rgb(244, 79, 79);
    color: rgb(255, 255, 255);
}
a:hover{
 color: rgb(245, 178, 168);
}

a:visited {
    color: rgb(193, 255, 255);
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    #parent {
        flex-direction: column;
    }
}